<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Poduct</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{name}} </td>
                <td> uppercase </td>
                <td> {{ name | uppercase}} </td>
            </tr>
            <tr>
                <td> {{name}} </td>
                <td> lowercase </td>
                <td> {{ name | lowercase}} </td>
            </tr>
            <tr>
                <td> {{name}} </td>
                <td> slice:3 </td>
                <td> {{ name | slice:3 }} </td>
            </tr>
            <tr>
                <td> {{name}} </td>
                <td> slice:0:3 </td>
                <td> {{ name | slice:0:3 }} </td>
            </tr>
            <tr>
                <td> {{array}} </td>
                <td> slice:0:4 </td>
                <td> {{ array | slice:0:4 }} </td>
            </tr>
            <tr>
                <td> {{PI}} </td>
                <td> number: '1.0-0' </td>
                <td> {{ PI | number: '1.0-0' }} </td>
            </tr>
            <tr>
                <td> {{PI}} </td>
                <td> number: '1.0-2' </td>
                <td> {{ PI | number: '1.0-4' }} </td>
            </tr>
            <tr>
                <td> {{a}} </td>
                <td> percent </td>
                <td> {{ a | percent }} </td>
            </tr>
            <tr>
                <td> {{a}} </td>
                <td> percent:2.2-2 </td>
                <td> {{ a | percent:'2.2-2' }} </td>
            </tr>
            <tr>
                <td> {{salary}} </td>
                <td> Salario/currency </td>
                <td> {{ salary | currency }} </td>
            </tr>
            <tr>
                <td> {{salary}} </td>
                <td> currency:'MXN' </td>
                <td> {{ salary | currency:'MXN' }} </td>
            </tr>
            <tr>
                <td> {{salary}} </td>
                <td> number: '.2-2'</td>
                <td> {{ salary | number:'.2-2' }} </td>
            </tr>
            <tr>
                <td> {{valuePromise}} </td>
                <td> async </td>
                <td> {{ valuePromise | async }} </td>
            </tr>
            <tr>
                <td> {{date}} </td>
                <td> date </td>
                <td> {{ date | date:'full' }} </td>
            </tr>
            <tr>
                <td> {{dateknow}} </td>
                <td> date:'MMM - dd' </td>
                <td> {{ dateknow | date:'MMM - dd' }} </td>
            </tr>
            <tr>
                <td> {{fullName}} </td>
                <td> capitalizado </td>
                <td> {{ fullName | capitalization }} </td>
            </tr>
            <tr>
                <td> {{fullName}} </td>
                <td> capitalizado </td>
                <td> {{ fullName | capitalization: false }} </td>
            </tr>
            <tr>
                <td> {{userName}} </td>
                <td>
                    password:{{ active }}
                    <br>
                    <button (click)="active = !active" type="button" class="btn btn-outline-primary">Activar/desactivar</button>
                </td>
                <td> {{ userName | password: active }} </td>
            </tr>
        </tbody>
    </table>

    <h4>Slice</h4>
    <ul>
        <li *ngFor=" let item of array | slice:0:4">{{ item }}</li>
    </ul>
    <h4>JSON</h4>
    <pre>{{hero | json }}</pre>

    <h4>Youtube <small>video</small></h4>
    <hr>
    <iframe width="560" height="315" [src]="video | domSecurity:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>